* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
}
.clearfix { 
    *zoom:1; 
}

.top {
    height: 30px;
    background: #0a467d
}

.top_roof {
    width: 1200px;
    margin: 0 auto;
}

.top li {
    float: right;
    list-style-type: none;
    margin-left: 60px;
    line-height: 30px;
    font-size: 14px;
}

.top li a {
    color: white;
    text-decoration: none;
}

.logo_bar {
    height: 100px;
    background: #269ae4
}

.logo_background {
    width: 1600px;
    height: 100px;
    margin: 0 auto;
    background: url(img/topbar_background.png)
}

.logo_box {
    width: 1080px;
    height: 100px;
    margin: 0 auto
}

.w {
    width: 1001px;
    margin: auto;
}

.nav {
    height: 50px;
    background-color: #fff;
    line-height: 50px;
}

.nav ul {
    float: left;
    margin-left: 25px;
    list-style-type: none;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    text-decoration: none;
    padding: 0 32px;
    font-size: 14px;
    color: #050505;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main {
    width: 1000px;
    margin: 30px auto;
    padding: 10px 0 35px 0;
    color: #4e4e4e;
}

.main .table{
    width: 480px;
}

.main .table-left {
    float: left;
}

.main .table-right {
    float: right;
}

.main a:hover {
    text-decoration: underline;
    color: #269ae4;
}

.triangle_right {
    width: 0;
    height: 0px;
    border-top: 5px solid transparent;
    border-left: 6px solid red;
    border-bottom: 5px solid transparent;
    font-size: 0;
    vertical-align: middle;
}

.main dt {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 10px;
}

.main dd {
    padding: 10px 0;
}

.main dd a {
    text-decoration: none;
    color: #4e4e4e;
    font-size: 15px;
    padding-left: 10px;
}

.main .more {
    text-align: right;
}

.main .more a {
    text-decoration: none;
    margin: 10px 7px;
    background: 0;
}

.footer {
    height: 205px;
    background: #1985c4;
}

.footer_main {
    position: relative;
    background: url(img/footrer_background.png);
    width: 1400px;
    height: 205px;
    margin: 0 auto;
    color: white;
}

.footer_main img {
    position: absolute;
    left: 200px;
    top: 40px
}

.footer_text {
    position: absolute;
    right: 200px;
    top: 50px;
    line-height: 30px;
    font-size: 16px;
}

.footer_text li {
    list-style-type: none;
}

.footer_end {
    width: 100%;
    height: 30px;
    background: black;
    text-align: center;
    color: white;
    line-height: 30px;
    font-size: 14px
}